/**
*
* Author: Thyago França
* Version: 1.0
*
**/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#wrap  {
	width: 100%;
	margin: 0 auto;
	padding: 80px 0;
}

#wrap header h1 {
	font-size: 21px;
	color: #747474;
	font-weight: bold;
	margin: 15px;
}

#wrap .btn-primary {
	margin: 0 20px;
}